# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-arm64
anyio==4.4.0
argon2-cffi==23.1.0
async-lru==2.0.4
attrs==24.2.0
bleach==6.1.0
certifi==2024.8.30
cffi==1.17.1
cycler==0.12.1
debugpy==1.8.5
decorator==5.1.1
ipykernel==6.29.5
ipympl==0.9.4
ipython==8.27.0
ipywidgets==8.1.5
jedi==0.19.1
jinja2==3.1.4
jsonschema==4.23.0
jupyter==1.1.1
jupyterlab==4.2.5
matplotlib==3.9.2
numpy==2.1.1
pandas==2.2.2
scipy==1.14.1
sympy==1.13.2
tornado==6.4.1
traitlets==5.14.3
tqdm==4.66.5
widgetsnbextension==4.0.13
zipp==3.20.1
